<div class="debug-comment wrapper" data-debug-toggle>
  <i class="ion-camera"></i>
  SmugMug album {{ include.smugmug_album.AlbumKey }}: {{ include.smugmug_album.Title | escape_once }} ({{ include.smugmug_album.UrlName }})<br />
  Last retrieved at {{ include.smugmug_album.LastFetched }}<br />
  Album last organised at: {{ include.smugmug_album.LastUpdated }}<br />
  Album images last updated at: {{ include.smugmug_album.ImagesLastUpdated }}<br />
  {{ include.smugmug_album.ImageCount }} total images
</div>

<div id="show-prod-shots" class="show-photos-outer">

  <section class="show-photos show-photos-smug lightbox-group">
    <div class="show-photos__inner">
    {% for image in include.smugmug_album.Images %}
      <div class="show-photo-single debug-container">
        <a class="lightbox-link"
        href="{{ image.LargeImage.Url }}"
        title="{{ image.Title | escape_once }}">
        <img class="lazy-image"
        src="/images/image-preload.png"
        data-lazy-src="{{ image.ThumbImage.Url }}"
        data-image-count={{ image.ImageCount }}
        alt="Show production shot"
        title="{{ image.Title | escape_once }}" />
        <noscript>
          <img src="{{ image.ThumbImage.Url }}" alt="Show production shot" title="{{ image.Title | escape_once }}" />
        </noscript>
        <div class="debug-abs-bottom-left" data-debug-toggle title="Photo type">{{ image.ImageKey }}</div>
        <div class="debug-abs-top-left" data-debug-toggle title="Photo image">{{ image.FileName }}</div>

      </a>
    </div>
    {% endfor %}
  </div>
</section>

<div class="show-photos-controls">
 <div class="show-photos-controls__inner">
  <div class="fade-out-overlay"></div>
  <div class="gallery-control">
  <a href="{{ include.smugmug_album.WebUri }}"
    title="Show all photos"
    data-gallery-toggle>
    <div class="show-label" data-show-label>
      <i class="ion-ios-arrow-down"></i>
      {{ include.smugmug_album.ImageCount }} production shots
      <i class="ion-ios-arrow-down"></i>
    </div>
    <div class="hide-label" data-hide-label>
      <i class="ion-ios-arrow-up"></i>
      Hide production shots
      <i class="ion-ios-arrow-up"></i>
    </div>
  </a>
</div>
<div class="smugmug-link">
<a href="{{ include.smugmug_album.WebUri }}" title="View album on SmugMug">
    <div class="smugmug-link-logo">
      <img src="/images/smugmug-white-64.png" alt="SmugMug logo">
    </div>
    <div class="smugmug-link-text">
      View album on SmugMug
    </div>
  </a>
</div>
</div>
</div>

</div>
