---
layout: default
body_class: section-archives layout-show
---

{% assign show = page %}

<div class="breadcrumbs">
  <div class="breadcrumb-inner">

    <div class="breadcrumb-controls">
      <a {% if show.seq_previous %}href="{{ show.seq_previous.url }}" class="enabled"
         {% else %}href="{{ show.year_page.url }}" class="disabled"{% endif %}
         title="Previous Show">
        <i class="ion-chevron-left"></i>
      </a>
      <a {% if show.seq_next %}href="{{ show.seq_next.url }}" class="enabled"
         {% else %}href="{{ show.year_page.url }}" class="disabled"{% endif %}
         title="Next Show">
        <i class="ion-chevron-right"></i>
      </a>
    </div>

    <ul class="breadcrumb-list">
      <li class="breadcrumb">
        <a href="/years/">
          Archives
        </a>
      </li>
      <li class="breadcrumb breadcrumb-{{ show.yyy }}">
        <a href="{{ show.year.url }}">
          {{ show.year.title }}
        </a>
      </li>
      <li class="breadcrumb breadcrumb-{{ show.yyy }}-child">
        <a href="{{ show.url }}">
          {{ show.title | escape_once }}
        </a>
      </li>
    </ul>

  </div>
</div>

<div class="show">
  <div class="show-wrap show-row debug" data-debug-toggle>
    {% include def-data.html def=site.data.defs.show model='show' %}
  </div>

  {% if show.date_start == null %}
  <div class="show-wrap show-row">
    <div class="col-full">
      {% include boxes/show_basic_details_missing.html %}
    </div>
  </div>
  {% endif %}

  <div class="show-wrap show-row">
    <div class="show-info">
      <header class="show-header">
        <h1 class="show-title">{{ show.title | escape_once }}</h1>

        {% include show/meta.html show=page %}

      </header>
      <article class="show-synopsys">
        {{ content }}

        {% if show.trivia %}
          {% include show/trivia_list.html trivia=show.trivia %}
        {% elsif show.ignore_missing != true %}
          {% include boxes/show_facts_missing.html %}
        {% endif %}
      </article>

      {% if show.assets.size > 0 %}
      <section class="show-assets">
        <h3>Publicity Materials</h3>
        {% include show/assets_list.html assets=show.assets %}
      </section>
      {% else %}
        {% unless show.ignore_missing %}{% include boxes/show_assets_missing.html %}{% endunless %}
      {% endif %}

    </div>
    <div class="show-poster">
      {% if show.poster %}
        <img src="{{ show.poster.image.poster_large }}" alt="{{ show.title | escape_once }} poster" />
      {% else %}
        {% include boxes/show_poster_missing.html %}
      {% endif %}
    </div>

  </div>

  {% if show.smugmug_album %}
    {% include show/prod_shots.html smugmug_album=show.smugmug_album %}
  {% else %}

  {% unless show.ignore_missing %}
  <div class="show-wrap show-row">
    <div class="col-full">
      {% include boxes/show_photos_missing.html %}
    </div>
  </div>
  {% endunless %}

  {% endif %}

<!--   <div class="show-assets-outer">

  </div> -->

  <div class="show-wrap show-row">
    <section class="show-cast debug-container">
      <div class="debug-abs-top-left" data-debug-toggle title="Number of cast">{{ show.cast.size }}</div>
      {% unless show.ignore_missing and show.cast.size == null %}<h3>Cast</h3>{% endunless %}
      {% if show.cast == null %}
      {% unless show.ignore_missing %}{% include boxes/show_cast_missing.html %}{% endunless %}
      {% else %}
      {% include person_list.html list=page.cast_list%}
      {% endif %}
    </section>
    <section class="show-crew debug-container">
      <div class="debug-abs-top-left" data-debug-toggle title="Nunber of crew">{{ show.crew.size }}</div>
      {% unless show.ignore_missing and show.crew.size == null %}<h3>Crew</h3>{% endunless %}
      {% if show.crew.size < site.show_low_crew %}
      {% unless show.ignore_missing %}{% include boxes/show_crew_short.html %}{% endunless %}
      {% endif %}
      {% if show.crew == null %}
      {% unless show.ignore_missing %}{% include boxes/show_crew_missing.html %}{% endunless %}
      {% else %}
      {% include person_list.html list=page.crew_list %}
      {% endif %}
    </section>
  </div>

  <div class="show-footer">
    <!-- <a href="https://github.com/newtheatre/history-project/blob/gh-pages/{{show.path}}">https://github.com/newtheatre/history-project/blob/gh-pages/_{{show.url}}</a -->
  </div>

</div>

<script type="text/javascript">
// Reversed to make sense with direction
var jekyll_page_up = "/years/{{ show.year.url }}";
var jekyll_page_previous = "{{ show.seq_previous.url }}";
var jekyll_page_next = "{{ show.seq_next.url }}";
</script>
